html {
  display: flex;
  min-height: -webkit-fill-available; // для корректного отображения на мобильных устройствах
  overflow: hidden;
  background: linear-gradient(45deg, #23a743, #e34484d1);
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  line-height: 1.5;
  color: $color-secondary;
  background: $bg-basic-75;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;

  &>h2{
    padding: 0 0 1rem 0;
  }
}

main {
  position: relative;
  overflow: auto;
}

h2{
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
}
h3{
  text-transform: uppercase;
  font-size: 1.1rem;
}
